
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Lista de estudiantes</h2>

<table style="width:100%">

  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Seleccionar</th>
  </tr>
  {% for estudiante in estudiantes %}
  <tr>
    
    <td>{{estudiante.id}}</td>
    <td>{{ estudiante.nombre }}</td>
    <td>{{ estudiante.apellido }}</td>
    <td>{{ estudiante.email }}</td>
    <td><button onclick="window.location.href='{% url '/detalle_estudiante/' estudiante.id %}'">Ver</button></td>
    
  </tr>
  {% endfor %}
</table>

<p>prueba tabla de usuarios</p>

</body>
</html>