<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mi app</title>
</head>
<body>
  <h1>MY app</h1>

  <form method="post">
    {% csrf_token %}
    <input type="text" id="name" placeholder="Escribe tu nombre" name="name"><br><br>
    <button type="submit" id="btn">Enviar</button>
  </form><br><br>
  <a href=/test id="btn2" method="get">volver</a>
  {% if msj %}
    <p style="margin-top:1em; color: rgb(3, 85, 9);">{{ msj }}</p>
  {% endif %}
  <br><br>
  
</body>
</html>
